**.sdf
**.opensdf
**.suo
Backup
ipch
**Debug
**Release
**.usr
**.ncb
**.sbr
**.log
**.user
**.res
**Thumbs.db
**~$*
build/*
umdp_F3-UMDPF3.pdf
svector.opensdf
makefile
template/mkapex
install
**.VC.opendb
**.VC.db
